/* for desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* navbar design starts here */
.logo{
    text-align: left;
}
.title h1{
    text-align: right;
}
.menu{
    flex-direction: row;
    justify-content: flex-end;
}
.menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
}
/* navbar design ends */

/* profile design starts here */
.profile-description h1{
    font-family:'Satisfy', cursive;
    font-size: 4rem;
    color: lightseagreen;
}
.profile-description p{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.top-weather-icon{
    position: absolute;
    right: 100px;
    top: 1px;
    width: 150px;
    height: 150px;
    transition: width 2s, transform 2s;
}
.top-weather-icon:hover{
    width: 200px;
}
.bottom-weather-icon{
    position: absolute;
    left: 50px;
    bottom: 2px;
    width: 150px;
    height: 150px;
    transition: width 2s , transform 2s;
}
.bottom-weather-icon:hover{
    width: 200px;
}
/* profile design ends */


/* about me design starts here */
.aboutme-image{
    margin-top: 100px;
}
.aboutme-image img{
    height: 270px;
    width: 250px;
}
.about-me p{
    text-align: left;
}
/* about me design ends here */


/* professional-experience starts here */
.professional-experience{
    padding: 3% 1%;
}
/* professional-experience ends here */


/* achievement-contact stats here */
.achievement{
    padding-right: 50px;
}
.contact-me button{
    width:150px;
}
/* achievement-contact ends here */